@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.bcontent {
  background: #f2f6f9;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: violet;
}

span {
  display: block;
  margin-bottom: 20px;
}

.mkr-header {
  background: rgb(5, 25, 52)
}

.mkr-header .logo {
  height: 30px;
}

.mkr-header .sidebar-btn {
  border-color: #6865b6;
  color: #9b99cc;
}

.mkr-header .sidebar-btn:hover {
  border-color: #9b99cc;
  color: #b9b8c9;
}

@media (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }

  .bcontent {
    padding: 1.25rem;
  }
}
