@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: violet;
}

body {
  font-family: sans-serif
}

span {
  display: block;
  margin-bottom: 20px;
}
